@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=IBM+Plex+Sans+KR:wght@400;500;600&family=Noto+Serif+KR&display=swap');

header,
h1 {
    position: fixed;
    z-index: 4;
    top: 200px;
    left: 100px;
}

h1 {
    left: 50px;
    top: 100px;
    font-size: 2.5rem;
    letter-spacing: 0.5;
    font-weight: bold;
    font-family: "Great Vives", cursive;
    margin-bottom: 40px;
}

h1 img {
    width: 300px;
}

.gnb {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gnb>li {
    padding-top: 30px;
    height: 80px;
    /* border-bottom: 1px solid #222; */
}

.gnb>li a {
    /* transform:translateX(-300px); */
    line-height: 40px;
    text-transform: capitalize;
    padding: 30px 10px;
    color:#fff;
    position:relative;
    
}
.gnb > li > a::before{
    content:"";
    display:block;
    width:3px;
    height:0%;
    background-color:#fff;
    position:absolute;
    transition:0.6s;
}
.gnb > li > a:hover::before{
    height:50%;
}
.gnb > li > a:hover{text-decoration:underline;
}
/* 메인 */
main {
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 4;
    right: 15px;
    top: 0;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

h2 {
    font-size: 6vh;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 40px;
    left: -500px;
}

article {
    height: 80%;
    width: 90%;
    box-sizing: border-box;
    /* position:absolute; bottom:30px; 
        left:30px; left:5%;  */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 20px;
    grid-gap: 10px;
    align-content: space-between;
    /* align-items:center; */

}

h5 {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 20px;
    background-color: #222;
    color: #ccc;
    font-size: 10px;
    text-align: right;
}

footer p {
    line-height: 20px;
    padding: 0px 30px;
}